<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
</head>

<body>
    <div id="appp">
        <h1 class="title">Vue.js Pizza Maker</h1>
        <div class="box">
            <div class="left-container">
                <div class="option">{{topping}}?</div>
                <div class="option-container">
                    <div v-if="showSauceCan" class="sauce-can">
                        <div class="top-rim">
                        </div>
                        <div class="bottom-rim">
                        </div>
                        <div class="red-label">
                        </div>
                        <div class="badge">
                        </div>
                    </div>
                    <div v-if="showShreddedCheese" class="shredded-cheese-wedge">
                        <div class="wedge-circle-1"></div>
                        <div class="wedge-circle-2"></div>
                        <div class="wedge-circle-3"></div>
                    </div>
                    <div class="moz-wedge" v-if="showMozzarellaCheese"></div>
                    <div class="pep-option" v-if="showPepperoniTopping"></div>
                </div>
                <div v-if="buttonsOn" @click="processInput(1)" class="yes-button">{{yesButton}}</div>
                <div v-if="buttonsOn" @click="processInput(2)" class="no-button">{{noButton}}</div>
            </div>
            <div class="right-container">
                <div class="option"><span id="white">{{totalCost}}</span></div>
                <div :class="pizzaClass">
                    <div class="pizza">
                        <div v-if="showSauce" class="sauce">
                        </div>
                        <div v-if="showWedgeCheese" class="wedge-cheese">
                            <div class="cheese-1">
                            </div>
                            <div class="cheese-2">
                            </div>
                            <div class="cheese-3">
                            </div>
                        </div>
                        <div v-if="showStringCheese" class="string-cheese">
                        </div>
                        <div v-if="showPepperoni" class="pepperoni">
                            <div class="pepperoni-1">
                            </div>
                            <div class="pepperoni-2">
                            </div>
                            <div class="pepperoni-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    new Vue({
        el: '#appp',
        data: {
            //leftcontainer
            topping: 'Sauce',
            yesButton: 'Yes',
            noButton: 'No',
            showSauceCan: true,
            showShreddedCheese: false,
            showMozzarellaCheese: false,
            showPepperoniTopping: false,

            //rightcontainer
            showSauce: false,
            showWedgeCheese: false,
            showStringCheese: false,
            showPepperoni: false,
            currentPrice: 0,
            totalCost: '$0',
            prices: [2, 2, 3, 3, 3],
            stage: 1,
            pizzaClass: "pizza",
            buttonsOn: true
        },
        methods: {
            processInput: function (selection) {
                if (selection === 1) {
                    if (this.stage === 1) {
                        this.showSauce = true
                    } else if (this.stage === 2) {
                        this.showStringCheese = true
                    } else if (this.stage === 3) {
                        this.showWedgeCheese = true
                    } else if (this.stage === 4) {
                        this.showPepperoni = true
                    }
                    if (this.stage < 5) {
                        this.currentPrice += this.prices[this.stage - 1];
                        this.totalCost = '$' + this.currentPrice;
                    }

                } else if (selection === 2) {
                    this.showStringCheese = true;
                }

                if (this.stage === 1) {
                    this.showSauceCan = false;
                    this.showShreddedCheese = true;
                    this.topping = "Shredded Cheese"
                } else if (this.stage === 2) {
                    this.showShreddedCheese = false;
                    this.showMozzarellaCheese = true
                    this.topping = 'Mozzarella Cheese'
                } else if (this.stage === 3) {
                    this.showMozzarellaCheese = false;
                    this.showPepperoniTopping = true
                    this.topping = 'Pepperoni'
                } else if (this.stage === 4) {
                    this.showPepperoniTopping = false;
                    this.topping = 'Here is your pizza'
                    this.pizzaClass = "spin-pizza"
                } else if (this.stage === 5) {
                    this.buttonsOn = false
                    this.topping = "Out of order"
                }

                this.stage++

            }
        }
    })
</script>

</html>
