.kurs-stats {
	margin: 250px 0;

	&__item {
		text-align: center;
		width: 33%;

		&-number {
			@include font(40, 400);
			color: $brand-pink
		}

		&.kurs-stats__item-heading {
			margin-bottom: 200px;
		}
	}
}
