.kurs-team {
	margin: 150px 0;
	position: relative;

	&__person {
		width: 100%;
		margin: 30px 0;

		@include md-up {
			width: calc(33% - 110px);

			&:nth-of-type(2) {
				margin: 0 30px;
				margin-bottom: 100px;
			}
		}

		&-main {

			&-person-image {
				height: 80px;
				width: 80px;
			}

			&-sm {
				height: 30px;
				width: 30px;
			}
		}
	}
}
