$base-bg: #242424;
$text: #454545;
$text-light: #f2f2f2;
$lighter-purple: #8658eb;
$darker-purple: #6a31e6;
$purple: #7841f4;
$form-bg-up: #f9f9fb;
$form-bg-down: #efeff2;
$form-purple: #531fc0;
$form-green: #1cd4a3;
$form-active: #dfdfe4;
$step-active: #1af5b9;
$step-inactive: #555556;

$container-margin: 6.639004149%;
$column-width: 4.564315353%;
$gutter: 3.319502075%
