body {
    max-width: 100vw;
}

#app::before {
    filter: brightness(20%);


}

.full-bg {
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
    font-family: Lato
}

#app {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: #111;
}

.weather {
    width: 80%;
    color: white;
    text-align: center;
    max-width: 320px;
}

.owf {
    margin: 10px 0;
}



h1.city {
    font-size: 2rem;
    margin-top: 20px;
}

.main-temp {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

h2.temp {
    font-size: 7rem;
}

h3.description {
    font-size: 1.5rem;
}

span.format {
    margin-top: 10px;
}


.weather-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.humidity, .pressure, .wind {
    margin: 10px;
}

.detail {
    background-color: rgba(255, 255, 255, 0.9);
    width: 20%;
    min-width: 150px;
    height: 100%;
    color: #111;
    margin: 0 3%;
}

.input-field {
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    background: transparent;
    padding: 0.85rem 0.15rem;
    color: #eee;
    max-width: 320px;
    margin: 20px auto 0 auto;
    &:focus {
        outline: none;
    }
}

button {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 10px 0;
    &:focus {
        outline: none;
    }
}

#weather-image {
    margin-top: 20px;
}

.weather-forecast {
    max-width: 600px;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.forecast-day {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 480px) {

    #app {
        min-height: 100%;
        background-color: #111 !important;

    }


    .options, .input-field{
        width: 100%;
    }
}
