* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

section {
    margin: 30px 0;
}

.img-player {
    max-height: 200px;
    margin: 0 auto;
}

.img-monster {
    max-height: 200px;
    margin: 0 auto;
}

.btn {
    font-size: 1.5em;
    margin: 5px;
    line-height: 0;
    padding: 30px;
}

.hp-bar-wrapper {
    height: 50px;
    background-color: #f1f1f1;
    position: relative;
    margin: 30px;
}

.hp-bar {
    height: 50px;
    position: absolute;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 300ms;
}

.strong {
    background-color: limegreen;
}

.wounded {
    background-color: yellow;
}

.weak {
    background-color: orangered;
}

input[type=text] {
    max-width: 400px;
    font-size: 2rem;
    display: block;
    margin: 20px auto;
}

.monster-style {
    background-color: palevioletred
}

.log > li {
    margin: 1em;
    padding: 0.5em;
}
