/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
    line-height: 1.4;
    max-width: 100%;
}

html, body, section {
    height: 100% !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Input div styles
   ========================================================================== */

$shadow-length: 2px;
.inputs-wrapper {
    background-color: #333333;
    width: 33.333333%;
    color: white;
    height: 100%
}

.heading-wrapper {
    background: #000000;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px $shadow-length 10px #111;
}

.fab-wrapper {
    position: relative;
}

.fab {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2bbbad;
    bottom: -25px - $shadow-length / 2;
    left: 30px;
    box-shadow: 2px $shadow-length / 2 15px #222222;
    transition: all 0.7s;
}

@mixin centerer {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
  transform-origin: center;

}

.fab:after {
    @include centerer;
    content: '+';
}

.fabRotate {
    transform: rotate(90deg)
}

.inputs {
    padding: 30px;
    box-shadow: 3px 3px 20px #aaa;
    height: calc(100% - 150px);
}

input[type=text] {
    margin-bottom: 50px;
}

label {
    margin-bottom: 5px;
    &:first-child {
        margin-top: 40px;
    }
}




/* ==========================================================================
   Receipts div styles
   ========================================================================== */

.receipts-wrapper {
    width: 66.66666%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px;
    box-shadow: 3px 3px 20px #cccccc

}

.receipt {
    background-color: white;
    padding: 10px 25px;
    box-shadow: 3px 3px 20px #cccccc;
    margin: 20px;
}

.time-wrapper {
    padding: 0 8px;
    margin: 20px 0;
}

th, td {
    padding: 4px 8px;
}

.td-right {
    text-align: right
}

/* ==========================================================================
    transition styles
   ========================================================================== */

/* ==========================================================================
    User main styles
   ========================================================================== */

.wrapper {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 1em;
    margin-left: 20px;
}



/* ==========================================================================
   Media classes
   ========================================================================== */

@media screen and (max-width: 767px) {
    .wrapper {
        flex-direction: column;
    }
    .part {
        width: 100%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
