<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monster Game</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div id="app">

        <section>
            <div class="container">
                <div class="row text-center players">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h2>Hey, welcome to the game. Good luck.</h2>
                        <input type="text" v-model="playerName" placeholder="Choose your nickname">
                        <input type="text" v-model="playerColor" placeholder="Choose your favorite color">
                        <!-- if game is not running -->
                        <div v-if="!gameRunning">
                            <button @click="gameRunning = !gameRunning, restore()" class="btn btn-large btn-success">START GAME</button>
                        </div>
                        <!-- if game is running -->
                        <section>
                        <div v-if="gameRunning">
                            <button @click="{attack(), fadeOuting()}" class="btn btn-warning" id="attack">ATTACK</button>
                            <button @click="specialAttack()" class="btn btn-danger" id="special-attack">SPECIAL ATTACK</button>
                            <button @click="heal()" class="btn btn-info" id="heal">HEAL</button>
                            <button @click="giveUp()" class="btn btn-default" id="give-up">GIVE UP</button>
                        </div>
                        </section>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <img :src="playerHealth > 50 ? playerStrong : (playerHealth > 25 ? playerWounded : playerWeak)" alt="" class="img-player img-responsive" >
                        <h3>{{playerName}}</h3>
                        <div class="hp-bar-wrapper z-depth-3">
                            <div
                                class="hp-bar"
                                :style="{width: playerHealth + '%'}"
                                :class="playerHealth > 50 ? strong : (playerHealth > 25 ? wounded : weak) "
                                >
                                {{playerHealth}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4">
                        <img :src="monsterHealth > 50 ? monsterStrong : (monsterHealth > 25 ? monsterWounded : monsterWeak)" alt="" class="img-monster img-responsive">
                        <h3>MONSTER</h3>
                        <div class="hp-bar-wrapper z-depth-3">
                            <div
                                class="hp-bar"
                                :style="{width: monsterHealth + '%'}"
                                :class="monsterHealth > 50 ? strong : (monsterHealth > 25) ? wounded : weak"
                                >
                                {{monsterHealth}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="logs">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-6 col-sm-6">
                        <ul class="log">
                            <li v-for="round in rounds" :style="playerStyle">
                                {{ round.text[0] }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <ul class="log">
                            <li v-for="round in rounds" class="monster-style">
                                {{ round.text[1] }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="app.js"></script>

</body>

</html>
