<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="left-container container">
            <h1>MAKE AN ORDER</h1>
            <div class="burger-choosing">
                <h2>{{currentChoice}}</h2>
                <div v-if="chooseCheese" class="cheese"></div>
                <div v-if="chooseMeat" class="meat"></div>
                <div v-if="chooseLettuce" class="lettuce"></div>
                <div v-if="choosepickle" class="pickle"></div>
                <div v-if="chooseKetchup" class="ketchup"></div>
                <div v-if="chooseMustard" class="mustard"></div>
                <div v-if="startButton" @click="start" class="start">START</div>
                <div v-if="buttonsOn" class="normal-buttons">
                    <div @click="processDecision(1)" class="yes-button button">{{yesButton}}</div>
                    <div @click="processDecision(2)" class="no-button button">{{noButton}}</div>
                </div>
                <div class="burger-and-cheese-buttons" v-if="burgerCheeseButtons">
                    <div @click="processDecision(3)" class="double-button button">DOUBLE</div>
                    <div @click="processDecision(4)" class="single-button button">SINGLE</div>

                </div>
            </div>





        </div>
        <div class="right-container container">
            <h1>COST: {{totalCost}}</h1>
            <div class="burger-wrapper">
                <div v-if="showBurger" :class="marginBottom" class="burger-top"></div>

                <div v-if="showMeat1" :class="marginBottom" class="meat"></div>
                <div v-if="showCheese1" :class="marginBottom" class="cheese"></div>
                <div v-if="showLettuce" :class="marginBottom" class="lettuce"></div>
                <div v-if="showpickle" :class="marginBottom" class="pickle"></div>
                <div v-if="showKetchup" :class="marginBottom" class="ketchup"></div>
                <div v-if="showMustard" :class="marginBottom" class="mustard"></div>
                <div v-if="showMeat2" :class="marginBottom" class="meat"></div>
                <div v-if="showCheese2" :class="marginBottom" class="cheese"></div>
                <div v-if="showLettuce" :class="marginBottom" class="lettuce"></div>
                <div v-if="showBurgerBottom" :class="marginBottom" class="burger-bottom"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                attachMargin: true,
                noMargins: false,

                currentChoice: 'Welcome',
                currentPrice: 0,
                totalCost: '$0',
                buttonsOn: false,
                burgerCheeseButtons: false,
                yesButton: "YES",
                noButton: "NO",
                startButton: true,
                //left
                chooseCheese: false,
                chooseMeat: false,
                chooseLettuce: false,
                choosepickle: false,
                chooseKetchup: false,
                chooseMustard: false,


                //right

                showBurger: true,
                showCheese1: false,
                showCheese2: false,
                showMeat1: false,
                showMeat2: false,
                showLettuce: false,
                showpickle: false,
                showKetchup: false,
                showMustard: false,
                showBurgerBottom: true,

                prices: [1, 2, 3, 4, 5, 6, 7, 8],
                stage: 1
            },
            computed: {
                marginBottom: function () {
                    return {
                        margins: this.attachMargin,
                        negativeMargins: this.noMargins
                    }
                }
            },
            methods: {
                start: function () {
                    this.startButton = false;
                    this.buttonsOn = true;
                    this.burgerCheeseButtons = false;
                    this.currentChoice = "Meat?"
                    this.chooseMeat = true
                },
                processDecision: function (selection) {
                    // what happens on the right side
                    if (selection === 1) {
                        if (this.stage < 5) {

                        } else if (this.stage === 5) {
                            this.showLettuce = true
                        } else if (this.stage === 6) {
                            this.showKetchup = true
                        } else if (this.stage === 7) {
                            this.showMustard = true
                        } else if (this.stage === 8) {
                            this.showpickle = true
                        }

                        if (this.stage < 7) {
                            this.currentPrice += this.prices[this.stage - 1];
                            this.totalCost = "$" + this.currentPrice

                        }
                    } else if (selection === 2) {
                        if (this.stage === 1 || this.stage === 3) {
                            this.stage++
                        }

                    } else if (selection === 3) {
                        if (this.stage === 2) {
                            console.log("sds");
                            this.showMeat1 = true;
                            this.showMeat2 = true;
                        } else if (this.stage === 4) {
                            this.showCheese1 = true;
                            this.showCheese2 = true;
                        }
                    } else if (selection === 4) {
                        if (this.stage === 2) {
                            this.showMeat2 = true;
                        } else if (this.stage === 4) {
                            this.showCheese1 = true
                        }
                    }

                    // what happens on the left side


                    if (this.stage === 1) {
                        this.burgerCheeseButtons = true;
                        this.buttonsOn = false;
                    } else if (this.stage === 2) {
                        this.buttonsOn = true;
                        this.chooseMeat = false;
                        this.chooseCheese = true;
                        this.burgerCheeseButtons = false;
                        this.currentChoice = "Cheese?"
                    } else if (this.stage === 3) {
                        this.buttonsOn = false;
                        this.burgerCheeseButtons = true;
                    } else if (this.stage === 4) {
                        this.buttonsOn = true;
                        this.chooseCheese = false;
                        this.chooseLettuce = true;
                        this.burgerCheeseButtons = false;
                        this.currentChoice = "Lettuce?"
                    } else if (this.stage === 5) {
                        this.chooseLettuce = false;
                        this.chooseKetchup = true;
                        this.currentChoice = "Ketchup?"
                    } else if (this.stage === 6) {
                        this.chooseKetchup = false;
                        this.chooseMustard = true;
                        this.currentChoice = "Mustard?"
                    } else if (this.stage === 7) {
                        this.chooseMustard = false;
                        this.choosepickle = true;
                        this.currentChoice = "Pickle?"
                    } else if (this.stage === 8) {
                        this.choosepickle = false;
                        this.buttonsOn = false;
                        this.currentChoice = "Your burger is ready, please pay " + this.totalCost;
                        this.attachMargin = false;
                        this.noMargins = true
                    }

                    this.stage++
                }
            }
        })
    </script>
</body>

</html>
