* {
    box-sizing: border-box;
}

body {
    background-color: #B85750;
    height: 100vh;
    max-width: 100vw;
}

#app {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.left-container,
.right-container {
    background-color: #301F0D;
    height: 90vh;
    width: 35vw;
    margin: 2vw;
    color: antiquewhite;
    text-align: center;
    position: relative;
    min-width: 300px;
}

.margins {
    margin-bottom: 15px;
}

.negativeMargins {
    margin-bottom: 5px;
}

.burger-wrapper {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
}

.burger-choosing {
    width: 85%;
    height: 90%;
    margin-left: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.burger-choosing > div:nth-of-type(1) {
    margin: 30px 0;
}

div.start {
    background-color: antiquewhite;
    color: #736356;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px 30px;
    width: 50%;
    text-align: center;
}

div.yes-button,
div.no-button {
    background-color: antiquewhite;
    color: #736356;
    cursor: pointer;
    padding: 20px 30px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
}

div.double-button,
.single-button {
    background-color: antiquewhite;
    color: #736356;
    cursor: pointer;
    text-align: center;
    padding: 20px 30px;
    margin: 10px auto;
    display: inline-block;
}


/* clear CSS burger parts */

.burger-top {
    width: 95%;
    height: 140px;
    background: #ed9f21;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ed9f21 0%, #e8891f 41%, #ea7d22 69%, #fbca64 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ed9f21 0%, #e8891f 41%, #ea7d22 69%, #fbca64 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ed9f21 0%, #e8891f 41%, #ea7d22 69%, #fbca64 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ed9f21', endColorstr='#fbca64', GradientType=0);
    border-radius: 400px 400px 0 0;
    -moz-border-radius: 400px 400px 0 0;
    -webkit-border-radius: 400px 400px 0 0;
}

.burger-bottom {
    width: 95%;
    background: #ecd1b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ecd1b2 1%, #d89533 58%, #d89533 59%, #c77d29 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ecd1b2 1%, #d89533 58%, #d89533 59%, #c77d29 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ecd1b2 1%, #d89533 58%, #d89533 59%, #c77d29 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ecd1b2', endColorstr='#c77d29', GradientType=0);
    /* IE6-9 */
    height: 70px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.meat {
    width: 100%;
    background: #502d25;
    /* Old browsers */
    background: -moz-linear-gradient(top, #502d25 0%, #824828 30%, #824828 41%, #824828 41%, #a35c42 60%, #502d25 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #502d25 0%, #824828 30%, #824828 41%, #824828 41%, #a35c42 60%, #502d25 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #502d25 0%, #824828 30%, #824828 41%, #824828 41%, #a35c42 60%, #502d25 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#502d25', endColorstr='#502d25', GradientType=0);
    height: 40px;
    border-radius: 10px;
}

div.cheese {
    width: 100%;
    background: background: #f6ca29;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6ca29 0%, #fbd436 54%, #f9e48e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6ca29 0%, #fbd436 54%, #f9e48e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6ca29 0%, #fbd436 54%, #f9e48e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6ca29', endColorstr='#f9e48e', GradientType=0);
    height: 15px;
    border-radius: 10px;
}

div.lettuce {
    width: 100%;
    background: #b8a22b;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b8a22b 0%, #c8c334 0%, #6d8800 25%, #6d8800 25%, #779b00 35%, #c8c334 71%, #c8c334 71%, #6d8800 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b8a22b 0%, #c8c334 0%, #6d8800 25%, #6d8800 25%, #779b00 35%, #c8c334 71%, #c8c334 71%, #6d8800 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b8a22b 0%, #c8c334 0%, #6d8800 25%, #6d8800 25%, #779b00 35%, #c8c334 71%, #c8c334 71%, #6d8800 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b8a22b', endColorstr='#6d8800', GradientType=1);
    height: 15px;
    border-radius: 10px;
}

div.ketchup {
    width: 50%;
    background-color: #9c1913;
    height: 15px;
    border-radius: 10px;
    margin-left: -35%
}

div.mustard {
    width: 50%;
    background-color: #d7a500;
    height: 15px;
    border-radius: 10px;
    margin-left: 35%;
}

div.pickle {
    width: 30%;
    background: #b8a22b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #b8a22b 0%, #6f8216 0%, #328416 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b8a22b 0%, #6f8216 0%, #328416 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b8a22b 0%, #6f8216 0%, #328416 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b8a22b', endColorstr='#328416', GradientType=0);
    height: 15px;
    border-radius: 10px;
    margin-left: 25%;
}

div.burger-choosing > div.pickle,
div.burger-choosing > div.ketchup,
div.burger-choosing > div.mustard {
    margin-left: 0%;
}


/* end of CSS burger parts */

@media all (max-width: 652px) {
    .left-container,
    .right-container {
        height: 100%;
        text-align: center;
        min-width: 300px;
    }
    .left-container > *,
    normal-buttons {
        margin: 70px auto;
    }


}
