$main-home-width: 100px;

@mixin flexy ($align-items, $justify-content, $flex-wrap: wrap, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
